<link rel="stylesheet" href="/css/layout.css">
<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p>
  Name: Charos <br>
  Surname: Matyoqubova <br>
  School: 18

</p>
  <%- include("partials/footer.ejs") %>