<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/css/layout.css">


  <h1>Home Page</h1>

  <p>
    Assalom alekum
  </p>
  <p>
    Bu yerda men haqimda ma'lumotga ega bo'lasiz!
  </p>

  <%- include("partials/footer.ejs") %>